.barre{
    height: 2px; 
    color: black; 
    background-color: black; 
    width: 100%; 
    border: none;
}
.text-center {
    text-align: center;
}

.form-div {
    background-color: #B6B6F1;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.form-div2 {
    background-color: #B6B6F1;
    margin: 50px auto;
    padding: 110px;
    border-radius: 5px;
    width: 500px;
}

.form-div3 {
    background-color: white;
    margin: 50px auto;
    padding: 150px;
    border-radius: 5px;
    width: 400px;
}



.membre{
position: relative;
left:20px;
}
.news{
    background-color: white;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    border: 2px solid red;
}
.ul {
    text-align:center;

}

}

h1 {
    font-size:320%;
    text-align:center;
}
h3{
    text-align:center;
}

h4 {
    font-size:120%;
    text-align:center;
}
p {
    text-align: center;
}

.logo_GBAF{
    max-width: 100%;
    height: auto;
}

                /*responsive query*/

@media all and (max-width: 1024px)
{
.device-width
{
    width: auto;
    margin: auto;
}
.image_accueil {
    display:none;
}
.image_acteurs{
    display:none;
}


.text-center {
    text-align: center;
}

.form-div {
    background-color: #B6B6F1;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.form-div2 {
    background-color: #B6B6F1;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.form-div3 {
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}



.membre{
position: relative;
left:20px;
}

.news{
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    border: 2px solid black;
}

input{
  height: auto;
  width: auto;
  font-size: 2em;
}
select{
    height: auto;
    width: auto;
    font-size: 2em;
}

.ul {
    text-align:center;
}



h1, h4, h3, a, label, span, button {
	font-size:2em;
    text-align:center;
}
img{
	width:auto;
}

.avatar{
    width:70px;

}
}
.footer {
    text-align: center;
    background-color: black;
    padding: 40px;
    position:relative;
    top:350px;

}

.header{
    text-align: center;
    background-color: #B6B6F1;



}



@media all and (max-device-width: 768px)
{

.logo_acteur2{
display:none;
}

.text-center {
    text-align: center;
}

.form-div {
    background-color: #B6B6F1;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.form-div2 {
    background-color: #B6B6F1;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.form-div3 {
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}



.membre{
position: relative;
left:20px;
}

.news{
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    border: 2px solid black;
}

input{
  height: auto;
  width: auto;
  font-size: 1.3em;
}
select{
    height: auto;
    width: auto;
    font-size: 0.8em;
}

.ul {
    text-align:center;
}
label{
    font-size:2em;
}


h1, h4, h3, a, span, button {
    font-size:1em;
    text-align:center;
    color-font:red;
}
img{
    width:auto;
}

.avatar{
    width:50px;

}
}
.footer {
    text-align: center;
    background-color: black;
    padding: 40px;
    position:relative;
    top:350px;

}

.header{
    text-align: center;
    background-color: #B6B6F1;
}



