.barre{
    height: 2px; 
    color: black; 
    background-color: black; 
    width: 100%; 
    border: none;
}
.text-center {
    text-align: center;
}

.form-div {
    background-color: #B6B6F1;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.form-div2 {
    background-color: #B6B6F1;
    margin: 50px auto;
    padding: 110px;
    border-radius: 5px;
    width: 500px;
}

.form-div3 {
    background-color: white;
    margin: 50px auto;
    padding: 150px;
    border-radius: 5px;
    width: 400px;
}



.membre{
position: relative;
left:20px;
}
.news{
    background-color: white;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    border: 2px solid red;
}
.ul {
    text-align:center;
}

}

h1 {
    font-size:320%;

}

h4 {
    font-size:120%;

}


                /*responsive query*/



@media all and (max-width: 1024px)
{

.text-center {
    text-align: center;
}

.form-div {
    background-color: #B6B6F1;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.form-div2 {
    background-color: #B6B6F1;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.form-div3 {
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}



.membre{
position: relative;
left:20px;
}

.news{
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    border: 2px solid black;
}

input{
  height: auto;
  width: auto;
  font-size: 2em;
}
select{
    height: auto;
    width: auto;
    font-size: 2em;
}

.ul {
    text-align:center;
}



h1, h4, h3, a, label, span, button {
	font-size:2em;

}
img{
	width:auto;
}

.avatar{
    width:70px;

}
}
.footer {
    text-align: center;
    background-color: black;
    padding: 40px;
    position:relative;
    top:350px;

}

.header{
    text-align: center;
    background-color: #B6B6F1;



}




